<div class="dashboard-layout">
    <nav class="navbar">
      <div class="brand">
        <span class="logo-icon">🏫</span>
        <div class="brand-text">
          <h2>Colegio Marcela Paz</h2>
        </div>
      </div>
      <button class="btn-logout" (click)="salir()">Cerrar Sesión</button>
    </nav>
  
    <main class="main-content">
      <header class="welcome-section">
        <h1>Portal Institucional</h1>
        <p>Bienvenido al sistema de gestión académica y administrativa.</p>
      </header>
  
      <div class="modules-grid">
        
        <div class="module-card">
          <div class="card-icon">📱</div>
          <h3>Alumnos</h3>
          <p>Registro estudiantes</p>
          <button class="btn-module">Ingresar al Módulo</button>
        </div>
  
        <div class="module-card">
          <div class="card-icon">📝</div>
          <h3>Causas</h3>
          <p>Causas posibles que engatillan la regulacion.</p>
          <button class="btn-module">Ingresar al Módulo</button>
        </div>
  
        <div class="module-card">
          <div class="card-icon">✉️</div>
          <h3>Protocolo</h3>
          <p>Gestion de protocolo de desregulacion emocional conductual</p>
          <button class="btn-module">Ingresar al Módulo</button>
        </div>
  
      </div>
    </main>
  </div>