<div class="card border-0 shadow-sm rounded-4 border-top border-primary border-4">
  <div class="card-body p-4">

    <div class="d-flex align-items-center gap-3 mb-4">
      <div class="icon-dashboard bg-colegio-blue-light text-colegio-blue rounded-4 d-flex align-items-center justify-content-center">
        📝
      </div>

      <div>
        <h4 class="fw-bold text-dark mb-1">
          {{ causaEditar ? 'Editar causa' : 'Registrar causa' }}
        </h4>
        <p class="text-secondary mb-0">
          Completa la descripción del motivo de desregulación.
        </p>
      </div>
    </div>

    <form (ngSubmit)="guardarCausa()">

      <div class="mb-4">
        <label class="form-label fw-semibold">
          Descripción de la causa
        </label>

        <input
          type="text"
          class="form-control rounded-3"
          name="nombreCausa"
          [(ngModel)]="causa.nombreCausa"
          placeholder="Ej: Sobrecarga sensorial"
          required>
      </div>

      <div class="d-flex gap-2">
        <button
          type="submit"
          class="btn btn-colegio-blue fw-bold px-4 rounded-3">
          {{ causaEditar ? 'Actualizar causa' : 'Guardar causa' }}
        </button>

        @if (causaEditar) {
          <button
            type="button"
            class="btn btn-outline-secondary fw-bold px-4 rounded-3"
            (click)="cancelarEdicion()">
            Cancelar
          </button>
        }

        @if (!causaEditar) {
          <button
            type="button"
            class="btn btn-outline-secondary fw-bold px-4 rounded-3"
            (click)="limpiarFormulario(false)">
            Limpiar
          </button>
        }
      </div>

    </form>

  </div>
</div>